@model UserLogin
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row align-items-center py-5">
    <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
        <div class="pr-lg-5"><img src="img/learn-panel.jpg" alt="" class="img-fluid"></div>
    </div>
    <div class="col-lg-5 px-lg-4">
        <h1 class="text-base text-primary text-uppercase mb-4">Welcome to</h1>
        <h2 class="mb-4">@Config.ProjectName</h2>
        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger", @id = "validate-summary" })
            <style>
                #validate-summary > ul {
                    margin-bottom: 0px !important;
                }
            </style>
        }
        @using (@Html.BeginForm(nameof(AuthenticationController.LogIn), NameUtils.ControllerName<AuthenticationController>(), FormMethod.Post, new { @id = "loginForm", @class = "mt-4" }))
        {
            @Html.HiddenFor(x => x.RequestPath);
            <div class="form-group mb-4">
                @Html.TextBoxFor(x => x.Identity, new { @type = "text", @placeholder = "Username", @class = "form-control border-0 shadow form-control-lg" })
                <small class="form-text text-danger ml-3 mt-2">@Html.ValidationMessageFor(x => x.Identity)</small>
            </div>
            <div class="form-group mb-4">
                @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control border-0 shadow form-control-lg text-violet" })
                <small class="form-text text-danger ml-3 mt-2">@Html.ValidationMessageFor(x => x.Password)</small>
            </div>
            <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(x => x.IsRemember, new { @class = "custom-control-input", @id = "customCheck1", @checked = "checked" })
                    <label for="customCheck1" class="custom-control-label">Remember Me</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary shadow px-5">Log in</button>
        }
    </div>
</div>
<p class="mt-5 mb-0 text-gray-400 text-center">Design by <a href="@Config.ProjectPortfolioAddress" class="external text-gray-400">@Config.ProjectAuthor</a></p>