@model IEnumerable<VocabularyQuickTest>
<!-- The Modal -->
<div class="modal fade" id="quick-test" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Quick test</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="pt-3">
                    @if (Model != null && Model.Count() > 0)
                    {
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            Vocabulary correctAns = Model.ElementAt(i).vocabularies.FirstOrDefault();

                            if (correctAns == null)
                                continue;

                            <input type="hidden" id="correct-ans-@(i + 1)" value="@correctAns.Id" />

                            <p>@(i + 1). @correctAns.Word</p>
                            <div class="pt-1 row">
                                @{
                                    var temp = Model.ElementAt(i).vocabularies.Shuffle();

                                    @Html.Raw(JsonConvert.SerializeObject(temp));

                                    for (int j = 0; j < temp.Count; j++)
                                    {
                                        string answerAlphapet = ((char)((int)'A' + j)).ToString();
                                        <div class="col-md-3">
                                            <div id="@($"answer_group_{i + 1}")">
                                                <span class="" id="ans-@i-@j">@answerAlphapet.</span> @temp[j].Meaning
                                                <input id="inp-@i-@j" type="hidden" asp-for="@temp[j].Meaning" value="false" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Skip</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Result</button>
            </div>

        </div>
    </div>
</div>

<script>
    // Mã chọn đáp án
    $(document).ready(function () {
        // Đoạn mã khoanh phương án đúng
        $('div[id^="answer_group_"]').click(function () {
            let ans_group_name = $(this).attr('id');
            // Tạm xóa bỏ hết
            $(`#${ans_group_name} span`).removeClass("border border-dark rounded-circle px-2");
            $(`#${ans_group_name} input`).val(false);
            // Thiết lập lại
            $(this).children('span').addClass("border border-dark rounded-circle px-2");
            $(this).children('input').val(true);
        });
    });
</script>