@using TCU.English.Controllers
@using TCU.English.Models
@using TCU.English.Utils
@model TCU.English.Models.PiceOfTest.ReadingTestPaper
@{
    ViewData["Title"] = ViewBag.Title ?? "YOUR TESTING";
    Layout = "~/Views/Shared/_TestPaperLayout.cshtml";

}

@* PART 1 *@
@if (Model.ReadingPartOnes.Item1 == null || Model.ReadingPartOnes.Item2 == null || Model.ReadingPartOnes.Item2.Count <= 0)
{
    <div class="h6 font-weight-bold my-auto">Part 1</div>
    <div class="alert alert-danger mt-2" role="alert">
        <div class="text-center">
            Could not create the right question for this section. Maybe due to lack of data in question library.
        </div>
    </div>
}
else
{
    <div class="h6 font-weight-bold my-auto">Part 1. <span class="text-uppercase ml-3">@Model.ReadingPartOnes.Item1.Name</span></div>
    <div class="font-weight-bold mt-2">* Choose the best option: </div>
    <div class="pl-3">
        @for (int i = 0; i < Model.ReadingPartOnes.Item2.Count(); i++)
        {
            <div class="pt-2">@(i+1). @Model.ReadingPartOnes.Item2[i].QuestionText</div>
            if (Model.ReadingPartOnes.Item2[i].AnswerList == null || Model.ReadingPartOnes.Item2[i].AnswerList.Count <= 0)
            {
                <div class="alert alert-danger mt-2" role="alert">
                    <div class="text-center">
                        This question has not been answered. Please contact the administrator to report the error.
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    @for (int j = 0; j < Model.ReadingPartOnes.Item2[i].AnswerList.Count; j++)
                    {
                        string answerAlphapet = ((char)((int)'A' + j)).ToString();
                        <div class="col-md-3">
                            <div>@answerAlphapet. @Model.ReadingPartOnes.Item2[i].AnswerList[j].AnswerContent</div>
                        </div>
                    }
                </div>
            }
        }
    </div>
}
@* END PART 1 *@

@* PART 2 *@
@if (Model.ReadingPartTwos.Item1 == null || Model.ReadingPartTwos.Item2 == null || Model.ReadingPartTwos.Item2.Count <= 0)
{
    <div class="h6 font-weight-bold my-auto">Part 2</div>
    <div class="alert alert-danger mt-2" role="alert">
        <div class="text-center">
            Could not create the right question for this section. Maybe due to lack of data in question library.
        </div>
    </div>
}
else
{
    <div class="h6 font-weight-bold my-auto">Part 2. <span class="text-uppercase ml-3">@Model.ReadingPartTwos.Item1.Name</span></div>
    <div class="font-weight-bold mt-2">Question 1-@(Model.ReadingPartTwos.Item2.Count() + 1)</div>
    <div class="pl-3">
        @for (int i = 0; i < Model.ReadingPartTwos.Item2.Count(); i++)
        {
            <div class="row">
                <div class="col-md-8">
                    <div class="pt-2">@(i+1). @Model.ReadingPartTwos.Item2[i].QuestionText</div>
                    @if (Model.ReadingPartTwos.Item2[i].AnswerList == null || Model.ReadingPartTwos.Item2[i].AnswerList.Count <= 0)
                    {
                        <div class="alert alert-danger mt-2" role="alert">
                            <div class="text-center">
                                This question has not been answered. Please contact the administrator to report the error.
                            </div>
                        </div>
                    }
                    else
                    {
                        @for (int j = 0; j < Model.ReadingPartTwos.Item2[i].AnswerList.Count; j++)
                        {
                            string answerAlphapet = ((char)((int)'A' + j)).ToString();
                            <div>@answerAlphapet. @Model.ReadingPartTwos.Item2[i].AnswerList[j].AnswerContent</div>
                        }
                    }
                </div>
                <div class="col-md-4">
                    <img src="@Model.ReadingPartTwos.Item2[i].QuestionImage" onerror="this.onerror=null; this.src='/img/no-image-box.png'">
                </div>
            </div>
        }
    </div>
}
@* END PART 2 *@



@section FinishButton {
    <button type="button" class="btn btn-lg btn-danger">FINISH</button>
}

@section Scripts {

}