@model WritingTestPaper
@{
    ViewData["CheckFullAction"] = nameof(TestPaperController.CheckFullWriting);

    // Truyền ID Sang cho Layout
    ViewData["potID"] = Model.PiceOfTestId;

    bool isReviewMode = ViewBag.IsReviewMode != null && ((bool)ViewBag.IsReviewMode);
    WritingTestPaper resultPaper = null;
    ViewData["Title"] = ViewBag.Title ?? "YOUR TESTING";
    ViewData["Timer"] = ViewBag.Timer ?? 0;
    ViewData["Action"] = nameof(TestPaperController.Writing);
    ViewData["Controller"] = NameUtils.ControllerName<TestPaperController>();
    if (!isReviewMode)
    {
        Layout = "~/Views/Shared/_TestPaperLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_TestPaperReviewLayout.cshtml";
        resultPaper = ViewBag.ResultPaper;
    }

    bool checkCorrectPart1(int index)
    {
        return resultPaper.WritingPartOnes.WritingPart[index].BaseAnswers.Any(x =>
        Model.WritingPartOnes != null &&
        Model.WritingPartOnes.WritingPart[index] != null &&
        Model.WritingPartOnes.WritingPart[index].Answers != null &&
        !string.IsNullOrEmpty(x.AnswerContent) && x.AnswerContent.ToLower().Trim()
        == Model.WritingPartOnes.WritingPart[index].Answers.ToLower().Trim());
    }

    string visibleAnswer(int index)
    {
        string trueAnswers = "";
        foreach (BaseAnswer ba in resultPaper.WritingPartOnes.WritingPart[index].BaseAnswers)
        {
            if (!string.IsNullOrEmpty(ba.AnswerContent) && !string.IsNullOrWhiteSpace(ba.AnswerContent))
            {
                if (!string.IsNullOrEmpty(trueAnswers))
                    trueAnswers += " / ";
                trueAnswers += ba.AnswerContent;
            }
        }
        return trueAnswers;
    }

    int qIndex = 1;
}

@Html.HiddenFor(x => x.PiceOfTestId)
@* PART 1 *@
@Html.HiddenFor(x => x.WritingPartOnes.TestCategory.Id, new { @value = Model.WritingPartOnes.TestCategory.Id })
@Html.HiddenFor(x => x.WritingPartOnes.TestCategory.TypeCode, new { @value = Model.WritingPartOnes.TestCategory.TypeCode })
@Html.HiddenFor(x => x.WritingPartOnes.TestCategory.PartId, new { @value = Model.WritingPartOnes.TestCategory.PartId })
@Html.HiddenFor(x => x.WritingPartOnes.TestCategory.Name, new { @value = Model.WritingPartOnes.TestCategory.Name })
@Html.HiddenFor(x => x.WritingPartOnes.TestCategory.Description, new { @value = Model.WritingPartOnes.TestCategory.Description })
@Html.HiddenFor(x => x.WritingPartOnes.TestCategory.WYSIWYGContent, new { @value = Model.WritingPartOnes.TestCategory.WYSIWYGContent })
@if (Model.WritingPartOnes.TestCategory == null || Model.WritingPartOnes.WritingPart == null || Model.WritingPartOnes.WritingPart.Count <= 0)
{
    <div class="h6 font-weight-bold my-auto">Part 1</div>
    <div class="alert alert-danger mt-2" role="alert">
        <div class="text-center">
            Could not create the right question for this section. Maybe due to lack of data in question library.
        </div>
    </div>
}
else
{
    <div class="h6 font-weight-bold my-auto">Part 1@*. <span class="text-uppercase ml-3">@Model.WritingPartOnes.TestCategory.Name</span>*@</div>
    <div class="my-2">@Html.Raw(Model.WritingPartOnes.TestCategory.Description)</div>
    <div>
        @for (int i = 0; i < Model.WritingPartOnes.WritingPart.Count(); i++)
        {
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].Active)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].CreatedTime)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].CreatorId)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].ExplainLink)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].Hint)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].Id)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].DefaultSentence)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].SecondSentence)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].TestCategoryId)
            @Html.HiddenFor(x => x.WritingPartOnes.WritingPart[i].UpdatedTime)
            string uuid = Guid.NewGuid().ToString();
            <div class="pt-3">
                @(qIndex++). @Model.WritingPartOnes.WritingPart[i].DefaultSentence
                @if (!string.IsNullOrEmpty(Model.WritingPartOnes.WritingPart[i].Hint))
                {
                    <i class="fas fa-info-circle text-blue" data-toggle="tooltip" data-html="true" title="@Model.WritingPartOnes.WritingPart[i].Hint"></i>
                }
            </div>
            <div class="pt-3"><span class="font-weight-light" style="text-decoration: underline;">Rewrite:</span> @Model.WritingPartOnes.WritingPart[i].SecondSentence</div>
            if (Model.WritingPartOnes.WritingPart[i].BaseAnswers == null || Model.WritingPartOnes.WritingPart[i].BaseAnswers.Count <= 0)
            {
                <div class="alert alert-danger mt-2" role="alert">
                    <div class="text-center">
                        This question has not been answered. Please contact the administrator to report the error.
                    </div>
                </div>
            }
            else if (!isReviewMode)
            {
                <div class="col-md-8">
                    <div class="row mt-2">
                        @Html.TextBoxFor(x => x.WritingPartOnes.WritingPart[i].Answers, new { @placeholder = "Input your answer ...", @class = "form-control", @style = "width: unset;" })
                        <small class="form-text text-danger mr-3">@Html.ValidationMessageFor(x => x.WritingPartOnes.WritingPart[i].Answers)</small>
                    </div>
                </div>
            }
            else
            {
                <div class="@Html.Raw(isReviewMode?"col-12":"col-md-8")">
                    <div class="row mt-2">
                        <span class="font-weight-light mr-2" style="text-decoration: underline;">Your answer:</span>
                        <span class="mr-2" style="@Html.Raw(checkCorrectPart1(i)?"color:#0F0;":"text-decoration: line-through;color:#F00;")">
                            @Model.WritingPartOnes.WritingPart[i].Answers
                        </span>

                    </div>
                    <div class="row mt-2">
                        <span class="font-weight-light mr-2" style="text-decoration: underline;">Test answer:</span>
                        <span class="mr-2">
                            @visibleAnswer(i)
                        </span>

                    </div>
                </div>
            }
        }
    </div>
}
@* END PART 1 *@

<div class="my-3"></div>

@* PART 2 *@
@Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.TestCategory.Id, new { @value = Model.WritingPartTwos.WritingPart2.TestCategory.Id })
@Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.TestCategory.TypeCode, new { @value = Model.WritingPartTwos.WritingPart2.TestCategory.TypeCode })
@Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.TestCategory.PartId, new { @value = Model.WritingPartTwos.WritingPart2.TestCategory.PartId })
@Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.TestCategory.Name, new { @value = Model.WritingPartTwos.WritingPart2.TestCategory.Name })
@Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.TestCategory.Description, new { @value = Model.WritingPartTwos.WritingPart2.TestCategory.Description })
@Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.TestCategory.WYSIWYGContent, new { @value = Model.WritingPartTwos.WritingPart2.TestCategory.WYSIWYGContent })
@if (Model.WritingPartTwos.WritingPart2.TestCategory == null || Model.WritingPartTwos.WritingPart2.WritingPartTwo == null || string.IsNullOrEmpty(Model.WritingPartTwos.WritingPart2.WritingPartTwo.Questions) || string.IsNullOrEmpty(Model.WritingPartTwos.WritingPart2.TestCategory.WYSIWYGContent))
{
    <div class="h6 font-weight-bold my-auto">Part 2</div>
    <div class="alert alert-danger mt-2" role="alert">
        <div class="text-center">
            Could not create the right question for this section. Maybe due to lack of data in question library.
        </div>
    </div>
}
else
{
    <div class="h6 font-weight-bold my-auto">Part 2@*. <span class="text-uppercase ml-3">@Model.WritingPartTwos.WritingPart2.TestCategory.Name</span>*@</div>
    <div class="my-2">@Html.Raw(Model.WritingPartTwos.WritingPart2.TestCategory.Description)</div>
    <div>
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.Questions)
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.Active)
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.CreatedTime)
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.CreatorId)
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.Hint)
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.Id)
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.TestCategoryId)
        @Html.HiddenFor(x => x.WritingPartTwos.WritingPart2.WritingPartTwo.UpdatedTime)

        @Html.Raw(Model.WritingPartTwos.WritingPart2.WritingPartTwo.Questions)

        <div class="p-3 border border-dark mb-4">
            @Html.Raw(Model.WritingPartTwos.WritingPart2.TestCategory.WYSIWYGContent)
        </div>

        @Html.Label("Your paragraph")
        @if (!isReviewMode)
        {
            <small class="form-text text-danger mr-3">@Html.ValidationMessageFor(x => x.WritingPartTwos.UserParagraph)</small>
            @Html.TextAreaFor(x => x.WritingPartTwos.UserParagraph, new { id = "user-paragraph", @required = "required" })
            <script>
                $(document).ready(function () {
                    if (CKEDITOR.instances['user-paragraph']) {
                        CKEDITOR.instances['user-paragraph'].destroy();
                    }
                    CKEDITOR.replace('user-paragraph');
                });
            </script>
        }
        else
        {
            <div class="p-3 border border-info mb-4">
                @Html.Raw(Model.WritingPartTwos.UserParagraph)
            </div>

            if (!string.IsNullOrEmpty(Model.WritingPartTwos.TeacherReviewParagraph) && Model.WritingPartTwos.UserParagraph != Model.WritingPartTwos.TeacherReviewParagraph)
            {
                @Html.Label("What teacher edit for your paragraph?")
                <div class="p-3 border border-success mb-4">
                    @Html.Raw(Model.WritingPartTwos.TeacherReviewParagraph)
                </div>
            }
        }
    </div>
}
@* END PART 2 *@

<div class="my-3"></div>

@if (!isReviewMode)
{
    @* Confirm modal *@
    <partial name="_ConfirmFinish" />
    @* End confirm modal *@
}

@section FinishButton {
    @if (!isReviewMode)
    {
        <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#confirm-finish">FINISH</button>
    }
    else
    {
        <button type="button" class="btn btn-lg btn-info" onclick="window.location.href='/'">BACK HOME</button>
    }
}