@model UserNote

@{
    string uniqueId = $"WYSIWYGContent_{Guid.NewGuid().ToString()}";
}

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.CreatedTime)
@Html.HiddenFor(x => x.UpdatedTime)
@Html.HiddenFor(x => x.Active)
<div class="form-group">
    @Html.LabelFor(x => x.WYSIWYGContent)
    <small class="form-text text-danger mr-3">@Html.ValidationMessageFor(x => x.WYSIWYGContent)</small>
    @Html.TextAreaFor(x => x.WYSIWYGContent, new { id = uniqueId })
</div>

<script>
    $(document).ready(function () {
        if (CKEDITOR.instances['@Html.Raw(uniqueId)']) {
            CKEDITOR.instances['@Html.Raw(uniqueId)'].destroy();
        }
        CKEDITOR.replace('@Html.Raw(uniqueId)', {
            toolbar:
                [
                    { name: 'basicstyles', items: ['Bold', 'Italic'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                    { name: 'tools', items: ['Maximize', '-', 'About'] }
                ]
        });
    });
</script>