@using TCU.English.Models

@* Menu dành cho quản trị người dùng *@
@if (User.IsInRole(UserType.ROLE_ALL) || User.IsInRole(UserType.ROLE_MANAGER_LIBRARY))
{
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">QUESTION LIBRARY</div>

    // READING
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><i class="fas fa-headphones-alt mr-3 text-gray"></i><span>Listening</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ListeningManagerController.Part1), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 1</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ListeningManagerController.Part2), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 2</a></li>
                @*                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ListeningManagerController.Part3), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 3</a></li>*@
                @*              <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ListeningManagerController.Part4), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 4</a></li>*@
            </ul>
        </div>
    </div>
    // END READING

    // READING
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><i class="fas fa-book-reader mr-3 text-gray"></i><span>Reading</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ReadingManagerController.Part1), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 1</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ReadingManagerController.Part2), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 2</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ReadingManagerController.Part3), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 3</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.ReadingManagerController.Part4), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 4</a></li>
            </ul>
        </div>
    </div>
    // END READING

    // WRITING
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><i class="fas fa-headphones-alt mr-3 text-gray"></i><span>Writing</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.WritingManagerController.Part1), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 1</a></li>
                @*<li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.WritingManagerController.Part2), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 2</a></li>*@
                @*                <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.WritingManagerController.Part3), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 3</a></li>*@
                @*              <li class="sidebar-list-item"><a href="@Url.Action(nameof(TCU.English.Controllers.WritingManagerController.Part4), TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 4</a></li>*@
            </ul>
        </div>
    </div>
    // END WRITING

    @*// SPEAKING
        <div class="card" style="border-radius: 0px;">
            <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
                <h3 class="h6 text-uppercase mb-0">
                    <a class="text-muted"><i class="fas fa-headset mr-3 text-gray"></i><span>Speaking</span></a>
                </h3>
            </div>
            <div class="card-body" style="padding: 0px;">
                <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                    @foreach ((string, string) speakingItem in speakingItems)
                    {
                        <li class="sidebar-list-item"><a href="@speakingItem.Item2" class="sidebar-link text-muted pl-lg-5">@Html.Raw(speakingItem.Item1)</a></li>
                    }
                </ul>
            </div>
        </div>
        // END SPEAKING

        // WRITING
        <div class="card" style="border-radius: 0px;">
            <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
                <h3 class="h6 text-uppercase mb-0">
                    <a class="text-muted"><i class="fas fa-feather-alt mr-3 text-gray"></i><span>Writing</span></a>
                </h3>
            </div>
            <div class="card-body" style="padding: 0px;">
                <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                    @foreach ((string, string) writingItem in writingItems)
                    {
                        <li class="sidebar-list-item"><a href="@writingItem.Item2" class="sidebar-link text-muted pl-lg-5">@Html.Raw(writingItem.Item1)</a></li>
                    }
                </ul>
            </div>
        </div>
        // END WRITING*@
}