@using TCU.English.Models

@* Menu dành cho quản trị người dùng *@
@if (User.IsInRole(UserType.ROLE_ALL) || User.IsInRole(UserType.ROLE_MANAGER_LIBRARY))
{
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">QUESTION LIBRARY</div>

    // READING
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><i class="fas fa-headphones-alt mr-3 text-gray"></i><span>Listening</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(ListeningManagerController.Part1), NameUtils.ControllerName<ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 1</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(ListeningManagerController.Part2), NameUtils.ControllerName<ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 2</a></li>
                @*                <li class="sidebar-list-item"><a href="@Url.Action(nameof(ListeningManagerController.Part3), NameUtils.ControllerName<ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 3</a></li>*@
                @*              <li class="sidebar-list-item"><a href="@Url.Action(nameof(ListeningManagerController.Part4), NameUtils.ControllerName<ListeningManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 4</a></li>*@
            </ul>
        </div>
    </div>
    // END READING

    // READING
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><i class="fas fa-book-reader mr-3 text-gray"></i><span>Reading</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(ReadingManagerController.Part1), NameUtils.ControllerName<ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 1</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(ReadingManagerController.Part2), NameUtils.ControllerName<ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 2</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(ReadingManagerController.Part3), NameUtils.ControllerName<ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 3</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(ReadingManagerController.Part4), NameUtils.ControllerName<ReadingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 4</a></li>
            </ul>
        </div>
    </div>
    // END READING

    // WRITING
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><i class="fas fa-headphones-alt mr-3 text-gray"></i><span>Writing</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(WritingManagerController.Part1), NameUtils.ControllerName<WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 1</a></li>
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(WritingManagerController.Part2), NameUtils.ControllerName<WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 2</a></li>
                @*                <li class="sidebar-list-item"><a href="@Url.Action(nameof(WritingManagerController.Part3), NameUtils.ControllerName<WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 3</a></li>*@
                @*              <li class="sidebar-list-item"><a href="@Url.Action(nameof(WritingManagerController.Part4), NameUtils.ControllerName<WritingManagerController>())" class="sidebar-link text-muted pl-lg-5">Part 4</a></li>*@
            </ul>
        </div>
    </div>
    // END WRITING

    // SPEAKING
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><i class="fas fa-headset mr-3 text-gray"></i><span>Speaking</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(SpeakingManagerController.Embed), NameUtils.ControllerName<SpeakingManagerController>())" class="sidebar-link text-muted pl-lg-5">Embed</a></li>
            </ul>
        </div>
    </div>
    // END SPEAKING

    // DICTIONARY
    <div class="card" style="border-radius: 0px;">
        <div class="card-header" style="border-radius: unset;padding-top: 1rem; padding-bottom: 1rem;">
            <h3 class="h6 text-uppercase mb-0">
                <a class="text-muted"><span>Dictionary</span></a>
            </h3>
        </div>
        <div class="card-body" style="padding: 0px;">
            <ul class="sidebar-menu list-unstyled" style="margin-top:1rem;">
                <li class="sidebar-list-item"><a href="@Url.Action(nameof(DictionaryManagerController.Index), NameUtils.ControllerName<DictionaryManagerController>())" class="sidebar-link text-muted pl-lg-5">Manage Dictionary</a></li>
            </ul>
        </div>
    </div>
    // END DICTIONARY
}