@model TCU.English.Models.TestCategory

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.TypeCode)
@Html.HiddenFor(x => x.PartId)
@Html.HiddenFor(x => x.CreatorId)
@Html.HiddenFor(x => x.CreatedTime)
@Html.HiddenFor(x => x.UpdatedTime)
@Html.HiddenFor(x => x.Active)
<div class="form-group">
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @placeholder = "Category name", @class = "form-control" })
    <small class="form-text text-danger mr-3">@Html.ValidationMessageFor(x => x.Name)</small>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, new { id = $"Description_of_test_category_{Model.Id}" })
    <small class="form-text text-danger mr-3">@Html.ValidationMessageFor(x => x.Description)</small>
</div>
<script>
    if (CKEDITOR.instances['Description_of_test_category_@Model.Id']) {
        CKEDITOR.instances['Description_of_test_category_@Model.Id'].destroy();
    }
    CKEDITOR.replace('Description_of_test_category_@Model.Id', {
        toolbar:
            [
                { name: 'basicstyles', items: ['Bold', 'Italic'] },
                { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                { name: 'tools', items: ['Maximize', '-', 'About'] }
            ]
    });
</script>